:root{
    --colorhead: #EEEEEE;
    --colorfont: #000000;
    --colortext: #283136;
    --colorbutton: #FFFFFF;
    --colorradio: #4D4D4D;
    --colorcardtext: #666666;
    --colorbuttonprice: #FB565A;
    --colorsocialicon: #E1E1E1;
    --fonttext: 'Roboto', "Arial", sans-serif;
}


/* главная страница */


.page_body{
    margin: 0;
    padding: 0;
    font-family: var(--fonttext);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--colortext);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.main_header{
    background-color: var(--colorhead);
}



/* шапка навигации */
.main_navigation{
    font-size: 16px;
    line-height: 30px;
    color: var(--colortext);
    background-color: transparent;
}
.navigation_list{
    background-color: var(--colorhead);
    list-style: none;
}
.navigation_list a{
    color: var(--colorfont);
}
.navigation_list a:hover,
.navigation_list a:focus
.trash a:hover,
.trash a:focus{
    color: var(--colortext);
}
.trash{
    background-color: var(--colorhead);
    color: var(--colorfont);
    list-style: none;
}
/* слайдер */
.info_nerds{
    line-height: 18px;
    background-color: #fb565a;
    color: var(--colorbutton);
    list-style: none;
}

/* карточки */
.features_list{
    list-style: none;
}
.features_item{
    text-align: center;
}
.features_item h3{
    font-size: 24px;
    line-height: 30px;
}
.features_item a{
    font-size: 16px;
    line-height: 18px;
}
.button_web{
    background-color: #fb565a;
    color: var(--colorbutton);
}
.button_app{
    background-color: #00ca74;
    color: var(--colorbutton);
}
.button_presentation{
    background-color: #EFC849;
    color: var(--colorbutton);
}

/* сброс стилей ul */

.skills_list{
    list-style: none;
}
.firm_list{
    list-style: none;
}
.footer_social{
    list-style: none;
}


/* страница товара */
.inner_page .main_header{
    background-color: var(--colorhead);
}
.page_title{
    background-color: var(--colorhead);
    font-size: 55px;
    line-height: 55px;
}


/* фильтр */

.filter legend{
    font-size: 18px;
    line-height: 30px;
}
.filter_option{
    list-style: none;
    line-height: 20px;
}


.filter_input:hover + label,
.filter_input:focus + label{
  color: var(--colorradio);
}

.filter_price{
    list-style: none;
    color: var(--colorfont);
}
.filter_price a{
    list-style: none;
    color: var(--colorfont);
}
.filter_price :hover{
    color: var(--colorradio);
}


/* каталог товаров */

.catalog {
    list-style: none;
}
.catalog_item {
    width: 358px;
    height: 578px;
    margin: 1rem;    /* временный артибут. чтоб различать списки */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.486)
}
.productname{
    font-size: 18px;
    line-height: 30px;
    color: var(--colorfont);
}
.catalog_item p{
    font-size: 16px;
    line-height: 18px;
    color: var(--colorcardtext);
}
.productprice{
    color: var(--colorbutton);
    background-color: var(--colorbuttonprice);
}
.navigation_product{
    list-style: none;
}
.navigation_page{
    color: var(--colorfont);
    background-color: var(--colorhead);
}

/* иконки соц сетей */
.social{
    list-style: none;
}
.social_icon{
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: var(--colorsocialicon);
}