:root{
    --colorhead: #EEEEEE;
    --colorfont: #000000;
    --colortext: #283136;
    --colorbutton: #FFFFFF;
    --colorradio: #4D4D4D;
    --colorcardtext: #666666;
    --colorbuttonprice: #FB565A;
    --colorsocialicon: #E1E1E1;
    --fonttext: 'Roboto', "Arial", sans-serif;
    --colorshadow: rgba(0, 0, 0, 0.486);
}

/* общие стили */
.page{
    height: 100%;
}
.page_body{
    margin: 0;
    padding: 0;
    font-family: var(--fonttext);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--colortext);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
.container{
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}
.main_header{
    display: grid;
    background-color: var(--colorhead);
    /* margin-bottom: 70px; */
    height: 180px;
}
.main_header_logo{
    /* width: 30%; */
    margin-bottom: 60px;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}


/* шапка навигации и логотип */
.main_navigation{
    margin: 0 auto;
    width: 1160px;
    font-size: 16px;
    line-height: 30px;
    color: var(--colortext);
    background-color: transparent;
    /* display: grid;
    grid-template-columns: 1fr min-content; */
    display: flex;
    align-items: center;
}
.main_header_bar{
    background-color: var(--basic-black);
}
.navigation_list{
    margin: 0;
    padding: 0;
    background-color: var(--colorhead);
    list-style: none;
    width: 50%;
    /* margin-bottom: 60px; */
    display: flex;
    justify-content: space-around;
}
.navigation_list a{
    color: var(--colorfont);
}
.navigation_list a:hover,
.navigation_list a:focus
.trash a:hover,
.trash a:focus{
    color: var(--colortext);
}
.trash_section .trash{
    padding-left: 50px;
}
.trash{
    background-color: var(--colorhead);
    color: var(--colorfont);
    list-style: none;
    max-width: 140px;
}
/* подвал */
.footer_social{
    width: 260px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}
.main_footer{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.friend_social h2{
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}
.friend_social p{
    font-size: 16px;
    line-height: 22px;
}
/* иконки соц сетей */
.social{
    list-style: none;
}
.social_icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: var(--colorsocialicon);
}


/* главная страница */
/* слайдер главной страницы */
.slider{
    margin-bottom: 80px;
}
.info_nerds{
    line-height: 18px;
    background-color: #fb565a;
    color: var(--colorbutton);
    list-style: none;
}
/* карточки главной страницы */
.features{
    margin-bottom: 80px;
}
.features_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.features_item{
    width: 300px;
    text-align: start;
}
.features_item h3{
    font-size: 24px;
    line-height: 30px;
}
.features_item a{
    font-size: 16px;
    line-height: 18px;
}

/* кнопки карточек главной страницы */
.button_web{
    background-color: #fb565a;
    color: var(--colorbutton);
}
.button_app{
    background-color: #00ca74;
    color: var(--colorbutton);
}
.button_presentation{
    background-color: #EFC849;
    color: var(--colorbutton);
}

/* визитная карточка студии на главной странице */
.article{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.article_info{
    width: 700px;
    text-align: start;
}
.article_slogan{
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 29px;
}
.article_meta{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    font-variant: small-caps
}
.article_content{
    font-size: 16px;
}
.article_statistic{
    width: 460px;
    text-align: center;
}
.slogan_nerds{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    font-variant: small-caps
}
.skills_list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.skills_item{
    font-size: 45px;
    line-height: 64px;
    font-weight: bold;
}
.skills_item p{
    font-size: 16px;
    line-height: 18px;  
    font-weight: normal;
    color: var(--colortext);
}

/* фирмы заказавшие услуги */
.firm_list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



/* страница товара */
.page_title{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    display: grid;
    justify-content: center;
    outline: 5px solid rgba(0, 0, 255, 0.7);
    margin-top: 0;
    background-color: var(--colorhead);
    height: 180px;
}
.allcontent_product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
}
/* фильтр товаров */
form{
    width: 260px;
}
fieldset{
    border: none;
}
.filter legend{
    font-size: 18px;
    line-height: 30px;
}
.filter_option{
    list-style: none;
    line-height: 20px;
}
.filter_input:hover + label,
.filter_input:focus + label{
  color: var(--colorradio);
}
.filtration{
    width: 310px;
    outline: 5px solid rgba(0, 0, 255, 0.7);
    display: grid;
    grid-template-columns: 1fr;
}

/* хлебные крошки фильтра */
.sorting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter_price{
    list-style: none;
    color: var(--colorfont);
    outline: 5px solid green;
}
.filter_price ul{
    display: flex;
    justify-content: space-around;
}
/* .filter_price li{
    margin-right: 20px;
} */
.filter_price a{
    list-style: none;
    color: var(--colorfont);
}
.filter_price :hover{
    color: var(--colorradio);
}

/* каталог товаров */
.catalog{
    list-style: none;
    outline: 5px solid red;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.card_name{
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.catalog_item{
    width: 358px;
    box-shadow: 0 0 10px var(--colorshadow);
}
.productname{
    font-size: 18px;
    line-height: 30px;
    color: var(--colorfont);
}
.catalog_item p{
    font-size: 16px;
    line-height: 18px;
    color: var(--colorcardtext);
}
.productprice{
    color: var(--colorbutton);
    background-color: var(--colorbuttonprice);
}
.container_product{
    outline: 5px solid rgba(0, 255, 98, 0.7);
}


/* страницы выбора товара */
.navigation_product{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    outline: 5px solid blue;
}
.navigation_page{
    margin: 0;
    color: var(--colorfont);
    background-color: var(--colorhead);
}